<h1>Contact List App</h1>


<div>
  <h4>Add a new contact to the list</h4>
  <form>
    <label name="firstname">First Name:</label>
    <input type="text" name="firstname"></input>
    <label name="lastname">Last Name:</label>
    <input type="text" name="lastname"></input>
    <label name="email">Email:</label>
    <input id="submit" type="submit" value="Add contact"></input>
  </form>
</div>


<div id="contact-list">
  
</div>
